
body {
    direction: ltr !important;
    text-align: left;
}

.list-inline {
    padding-right: 0px !important;
}

.list-inline-item:not(:last-child){
    margin-left: .5rem;
}

.section-title{
    padding-right: 1.5rem;
}