<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy; <a href="http://www.atriya.com" target="_blank">
            موسسه آموزشی
            آتریا
        </a>
    </small>
</footer>