@model ContactForm


@{
	ViewData["Title"] = "ارتباط با ما";
}



<section class="cta-section theme-bg-light py-5">
	<div class="container text-center single-col-max-width">
		<h2 class="heading">Contact with us</h2>
		<div class="intro">
			<p>
				You can write whatever you want to contact with us through this panel
			</p>
			<p>Keep on touch through these links in Social Media</p>
			<ul class="list-inline mb-0">
				<li class="list-inline-item mb-3">
					<a class="twitter" href="#">
						<i class="fab fa-twitter fa-fw fa-lg"></i>
					</a>
				</li>

				<li class="list-inline-item mb-3">
					<a class="linkedin" href="#">
						<i class="fab fa-linkedin-in fa-fw fa-lg"></i>
					</a>
				</li>
				<li class="list-inline-item mb-3">
					<a class="github" href="#">
						<i class="fab fa-github-alt fa-fw fa-lg"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="instagram" href="#">
						<i class="fab fa-instagram fa-fw fa-lg"></i>
					</a>
				</li>
				<li class="list-inline-item mb-3">
					<a class="stack-overflow" href="#">
						<i class="fab fa-stack-overflow fa-fw fa-lg"></i>
					</a>
				</li>
				<li class="list-inline-item mb-3">
					<a class="medium" href="#">
						<i class="fab fa-medium-m fa-fw fa-lg"></i>
					</a>
				</li>
				<li class="list-inline-item mb-3">
					<a class="codepen" href="#">
						<i class="fab fa-codepen fa-fw fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
		</div>
</section>
<section class="contact-section px-3 py-5 p-md-5">
	<div class="container">
		@if (!string.IsNullOrWhiteSpace(@ViewBag.success))
		{
		<div class="alert-success p-5">
				<p>@ViewBag.success</p>
		</div>
		}
		@if (!string.IsNullOrWhiteSpace(@ViewBag.error))
		{
		<div class="alert-danger p-5">
				<p>@ViewBag.error</p>
		</div>
		}

		
		<form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" asp-action="Contact">
			<h3 class="text-center mb-3">Keep on touch <h3>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="sr-only" asp-for="Name">Name</label>
					<input type="text" class="form-control" asp-for="Name" placeholder="Name"
						   minlength="2" required="" aria-required="true">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label class="sr-only" asp-for="Email">Email</label>
					<input type="email" class="form-control" asp-for="Email" placeholder="Email"
						   required="" aria-required="true">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group col-12">
					<select  class="custom-select" asp-for="Service" asp-items="Model.Services">
						<option value="0" selected="selected">Choose your service</option>

					</select>
				</div>
				<div class="form-group col-12">
					<label class="sr-only" asp-for="Message">Your message</label>
					<textarea class="form-control" asp-for="Message"
							  placeholder=" Enter your desired message ..." rows="10" required=""
							  aria-required="true"></textarea>
				</div>
				<div class="form-group col-12">
					<button type="submit" class="btn btn-block btn-primary py-2">Send</button>
				</div>
			</div>
		</form>
	</div>
</section>