@{
    ViewData["Title"] = "Home Page";
}



<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/Mobin.jpeg" alt="">
            <div class="media-







">
                <h2 class="name font-weight-bold mb-1 ml-2">Mobin Gholizadeh</h2>
                <div class="tagline mb-3 ml-2">.Net Developer</div>
                <div class="bio mb-4 ml-2">
                    I hope this message finds you in good health. We're conducting a brief test to ensure our communication channels are functioning correctly
                    If you receive this, all is well. If there are any issues or if you have feedback, please let us know
                    Thank you for your cooperation.
                    Your feedback is crucial to us as we strive for seamless communication. Looking forward to hearing from you.
                    If you encounter any issues or have questions, please don't hesitate to reach out. Your input is highly valued.
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary ml-2 mr-2 mb-3" href="http://www.atriya.com">
                        <span class="d-none d-md-inline">
                            Go To Atriya
                        </span> 
                    </a>
                    <a class="btn btn-secondary mb-3" href="#">
                        
                        <span class="d-none d-md-inline">View Samples of Work</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

@* Partial view *@
@* @await Html.PartialAsync("Projects" , new List<Project>()) *@
@* End loading partial view *@

@* Loading View Component *@

@await Component.InvokeAsync("Projects")

<div class="container">
    <hr>
</div>

@await Component.InvokeAsync("LatestArticles")

@* End Loading View Component *@



 